*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 148, 148);
}
.container{
    margin-top: 200px;
    padding: 30px 100px;
}
.card{
    padding: 30px;
    margin: 10px;
    background-color: #ffff;
    border-radius: 10px;
    text-align: center;
}
.heading{
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
}
#d-btn{
    padding: 10px 20px;
    background-color: red;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}
#r-btn{
    padding: 10px 20px;
    background-color: green;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}
#i-btn{
    padding: 10px 20px;
    background-color: red;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}