@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.header-section {
  height: 100vh;
  background: linear-gradient(to top, rgba(0, 0, 110, 0.527)),
    url("/images/imgi_10_fort-worth.jpg");
  background-size: cover;
}
.container1 {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.logo {
  width: 230px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  width: 80%;
  background-size: cover;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: 600;
  padding-right: 30px;
}
.navbar ul li:first-child a {
  text-decoration: underline white;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
}

.menu-icon,
.close-icon {
  color: white;
  font-size: 25px;
  padding: 0 4px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #161968;
  display: none;
}
.container2 {
  padding-top: 110px;
  text-align: center;
  color: white;
}
.container2 h2 {
  font-size: 65px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: bold;
}
.container2 p {
  padding: 10px 310px;
}
.down-arrow {
  padding-top: 40px;
}
.down-arrow img {
  width: 60px;
  cursor: pointer;
}
.boxes-section1 {
  margin-top: 100px;
}
.container3 {
  width: 90%;
  margin: auto;
}
.main-heading {
  text-align: center;
  line-height: 1.2;
}
.main-heading h6 {
  color: #161968;
  font-size: 23px;
  font-weight: normal;
}
.main-heading h2 {
  font-size: 40px;
}
.boxes1 {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  padding-left: 10px;
}
.box1 {
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  flex-basis: 32.5%;
}
.box1 img {
  width: 100px;
}
.box1 h3 {
  font-size: 23px;
  font-weight: 500;
}
.box1 p {
  line-height: 2;
  color: #1d1b1b;
}
.boxes-section2 {
  margin-top: 100px;
  background: linear-gradient(to top, rgba(0, 0, 110, 0.527)),
    url("/images/imgi_11_fw.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}
.container4 {
  text-align: center;
}
.c4-heading {
  line-height: 1.2;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
}
.c4-heading h3 {
  font-size: 22px;
  font-weight: 600;
}
.c4-heading h1 {
  font-size: 40px;
}
.container4 {
  width: 90%;
}
.boxes2 {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.box2 {
  flex-basis: 24%;
  background-color: #161968;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
}
.box2 img {
  width: 60px;
}
.c4-para {
  margin-top: 30px;
  color: white;
  padding: 0 120px;
}
.img-section {
  margin-top: 100px;
}

.container5 {
  display: flex;
  width: 90%;
  margin: auto;
}
.c5-img {
  width: 50%;
}
.c5-des {
  width: 50%;
  padding-left: 50px;
}
.c5-img {
  height: 600px;
}
.c5-img img {
  width: 100%;
  border-radius: 20px;
  height: 100%;
}
.c5-des h2 {
  font-size: 42px;
  color: #161968;
}
.c5-des h6 {
  font-size: 20px;
  font-weight: 500;
}
.c5-des p {
  color: #1d1b1b;
  font-size: 17px;
  line-height: 1.7;
}
.c5-des button {
  margin-top: 20px;
  border: none;
  color: white;
  background: #161968;
  border-radius: 10px;
  padding: 10px 15px;
  outline: none;
  cursor: pointer;
}
.container5 {
  padding-top: 50px;
}
.footer-section {
  margin-top: 100px;
  background: linear-gradient(to top, rgba(0, 0, 110, 0.527)),
    url("/images/imgi_10_fort-worth.jpg") center center;
  height: 50vh;
  padding-top: 30px;
}
.container6 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 33px;
}
.c6-con {
  color: white;
  flex-basis: 50%;
  padding-right: 300px;
}
.c6-con p {
  margin-block: 5px;
}
.c6-con p img {
  width: 25px;
}
.c6-con h1,
.c6-con h2 {
  line-height: 1.5;
  text-transform: uppercase;
}
.c6-con h1 {
  font-size: 40px;
}
.c6-logo {
  flex-basis: 50%;
}
.c6-logo img {
  width: 265px;
  margin-left: 300px;
}
.foot-para {
  padding: 20px;
  text-align: center;
  color: white;
  background-color: #161968;
}

/* Mobile Responsiveness */
@media only screen and (max-width: 767px) {
  .logo {
    width: 170px;
    height: 80px;
  }
  .container1 {
    padding-top: 20px;
  }

  .header-section {
    background-size: cover;
    background-position: top center;
  }
  .menu-icon {
    display: block;
    margin-left: auto;
  }
  .close-icon {
    display: none;
    margin-right: auto;
    z-index: 1;
    border: 1px solid white;
    position: fixed;
    right: 19px;
  }
  .container2 {
    padding-top: 100px;
  }
  .container2 h2 {
    font-size: 32px;
    line-height: 1.1;
  }
  .container2 p {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    padding: 0 30px;
    margin-top: 10px;
  }
  #pages li {
    width: 100%;
    padding-bottom: 5px;
    padding-left: 30px;
  }
  #pages {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    text-align: center;
    background-color: #161968;
    padding: 100px 0 40px 0;
    opacity: 0; /* invisible */
    transform: translateY(-280px); /* upar se thoda slide */
    pointer-events: none; /* hidden ke waqt click disable */
    /* transition: all 0.6s ease-in-out; */
    transition: opacity 1s ease, transform 0.6s ease;
  }
  #pages.active {
    opacity: 1; /* visible */
    transform: translateY(0); /* original position */
    pointer-events: auto; /* clickable */
  }
  .menu-icon.hide {
    display: none;
  }
  .close-icon.show {
    display: block;
    margin-left: auto;
  }
  .navbar ul li a {
    font-size: 20px;
    font-weight: normal;
    text-decoration-thickness: 1px;
  }
  .navbar ul li:first-child a {
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
  }
  .container3 {
    width: 94%;
  }
  .boxes1 {
    width: 100%;
    flex-direction: column;
    padding: 0;
  }
  .box1 p {
    line-height: 1.3;
  }
  .boxes-section2 {
    background-attachment: scroll;
    background-position: top center;
    margin-top: 200px;
    height: 1600px;
  }
  .boxes2 {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .box2 {
    width: 100%;
  }
  .c4-para {
    padding: 0;
  }
  .container5 {
    flex-direction: column;
    width: 100%;
  }
  .c5-img {
    width: 100%;
    padding: 0 15px;
    height: 450px;
  }
  .c5-des {
    width: 100%;
    padding: 0 15px;
  }
  .footer-section {
    height: 600px;
    background-position: center center;
  }
  .container6 {
    flex-direction: column;
    /* border: 1px solid red; */
    width: 100%;
    padding: 0 30px;
    align-items: flex-start;
  }
  .c6-con {
    padding: 0;
  }
  .c6-logo img {
    margin: 0;
  }
  .foot-para {
    font-size: 14px;
    padding: 20px 10px;
  }
  .down-arrow {
    padding-top: 20px;
  }
  .down-arrow img {
    width: 40px;
  }
}

/* Tab Responsiveness */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-icon {
    display: block;
    margin-left: auto;
  }
  .close-icon {
    display: none;
    margin-left: 120px;
    z-index: 1;
    border: 1px solid white;
    position: fixed;
    right: 40px;
  }
  #pages li {
    padding-bottom: 10px;
    padding-left: 30px;
  }
  #pages {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    text-align: center;
    background-color: #161968;
    padding: 100px 0 40px 0;
    opacity: 0; /* invisible */
    transform: translateY(-200px); /* upar se thoda slide */
    pointer-events: none; /* hidden ke waqt click disable */
    transition: all 0.7s ease-in-out;
  }
  #pages.active {
    opacity: 1; /* visible */
    transform: translateY(0); /* original position */
    pointer-events: auto; /* clickable */
  }
  .menu-icon.hide {
    display: none;
  }
  .close-icon.show {
    display: block;
    margin-left: auto;
  }
  .navbar ul li a {
    font-size: 23px;
    font-weight: normal;
    text-decoration-thickness: 1px;
  }
  .container2 {
    padding-top: 60px;
  }
  .container2 h2 {
    font-size: 50px;
  }
  .container2 p {
    padding: 10px 30px;
  }
  .down-arrow {
    padding-top: 20px;
  }
  .container3 {
    width: 100%;
  }
  .boxes1 {
    width: 100%;
    /* padding: 0; */
  }
  .box1 {
    flex-basis: 32%;
    padding: 10px;
  }
  .box1 p {
    line-height: 1.6;
  }
  .container4 {
    width: 100%;
  }
  .c4-heading {
    margin: 0;
  }
  .boxes-section2 {
    height: 130vh;
  }
  .boxes2 {
    width: 100%;
    flex-wrap: nowrap;
    padding: 0;
  }
  .box2 {
    width: 20%;
  }
  .c4-para {
    padding: 0;
  }
  .c5-des {
    padding-left: 30px;
  }
  .c5-des p {
    line-height: 1.5;
    font-size: 16px;
  }
  .footer-section {
    height: 60vh;
  }
  .container6 {
    width: 100%;
    margin: 0;
    padding-bottom: 40px;
  }
  .c6-con {
    padding-right: 70px;
    padding-left: 40px;
  }
  .c6-logo img {
    margin-left: 90px;
  }
  .foot-para {
    padding: 25px 10px;
  }
}
