*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shape{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    margin-top: 10px;
    margin-left: 10px;
    user-select: none;
    transition: 0.5s;
}
#sq4{
    cursor: pointer;
}
.rect{
    display: flex;
}
#cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: red;
    position:absolute;
}
